@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><b>Leave Manager</b> is a .NET Core learning result achieved by Felicity Winter (<a href="https://flic.MEDIA" target="_blank" style="text-decoration-color:#373737; text-decoration-line:none;">flic.MEDIA</a>).</p>
    </div>
