@using leave_manager.App_Code;
@{
    ViewData["Title"] = "Privacy Policy";
    if (Global.SiteLayout == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = Global.SiteLayout;
    }
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
