@model leave_manager.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Leave Allocations</h1>
<div class="jumbotron">
    <div class="card" style="background-color: #E9ECEF; border:none;">
        <table id="tblData" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Leave Types
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LeaveTypes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td class="text-center">
                            <a class="btn btn-outline-secondary" asp-action="SetLeave" asp-route-id="@item.Id">
                                <i class="fa fa-university" aria-hidden="true"></i>&nbsp;Process
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
